body
{
    margin:0;
    padding:0;
}

.menu {
    margin-top: 42px;
    position: relative;
    left:-50px;
    float: right;
}
.welcome{
    color: #fff;
    font-family: 'FrutigerNextPro Regular', cursive;
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;

}

label.big
{
    font-size:inherit;
    color:inherit;
    font-family: inherit;
}
a
{
    color: inherit;
    text-decoration: none;
}


.menu-item
{
    display: block;
    color: rgba(255,255,255,0.6);
    font-family: 'FrutigerNextPro Regular', cursive;
    font-size: 13px;
    margin-right: 25px;
    text-decoration: none;

    float:left;
}

.menu-item:hover, .menu-item.active {
    color: #fff;
    text-decoration: none;

}
.logo
{
    color: #fff;
    position: relative;
    left:30px;
    text-decoration: none;
    font-size: 3em;
    font-family: 'FrutigerNextPro Medium', cursive;
    margin: 28px 0 0 5px;


}


.header-hp
{

    overflow:hidden;
    height: 70px;
    background-color:#03244F;
    width:100%;
}

.pixy-style
{
    color:#D6D6FF;
    font-family:cursive;
    font-weight:bolder;
    font-size:2em;
    position: relative;
    top:-10px;
    left:40px;
  }
.main
{
    margin:0;
    padding:0;
    background-position:100% 100%;
    background-repeat:no-repeat;
    background-image: url('background.jpg');
    background-attachment:fixed;
   background-repeat: no-repeat;

}
fieldset.loginpage
{
    border: 1px solid;
    float :right;
    position: relative;
    top:-350px;
    left:-30px;
    border-radius:3px;
    /*background-color: #525252;*/
    background-color:#03244F;
    width:240px;
    line-height:3;
    font-family:arial;
    height:250px;
    padding-top:5px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right:15px;

}

input.email
{
    width:235px;
    border: 2px darkorange;
    border-style:solid;
    border-radius:4px;
    height:25px;

}

input.password
{
    border:2px darkorange;
    border-style:solid;
    width:150px;
    border-radius:4px;
    height:25px;

}


input.loginbutton
{
    position:relative;
    top:-47px;
    left:165px;
    width:80px;
    height:30px;
    border:1px solid;
    border-radius:5px;
    font-family:Comic Sans MS,courier;
    color:black;
    background-color:lightslategray;
    cursor:pointer;
}


input.signupbutton
{
    position:relative;
    top:-105px;
    left:65px;
    width:80px;
    height:30px;
    border:1px solid;
    border-radius:5px;
    font-family:Comic Sans MS,courier;
    color:black;
    background-color:#FF704D;
    cursor:pointer;
}

input.signupformat
{
    position:relative;
    top:-70px;
    left:100px;
    border: 2px darkorange;
    border-style:solid;
    border-radius:4px;
    width:350px;
    height:25px;

}


input.create
{
    position: relative;
    top:-90px;
    left:100px;
    width:350px;
    height:40px;
    border:1px;
    border-radius:5px;
    border:1px solid;
    font-weight:bold;
    color:black;
    background-color:#FF704D;
    cursor:pointer;

}
.create:hover
{
    background-color: #ff8b2b;
}


fieldset.signuppage
{
    border:1px solid;
    border-radius:5px;
    position:relative;
    top:50px;
    left:300px;
    background-color:#18150F;
   /* background-color:#03244F;*/
    width:700px;
    line-height:2.7;
    font-family:Arial;
    height:520px;
    margin:2px;
    padding-top:25px;
    padding-bottom:25px;
    padding-right:50px;
    padding-left:50px;
}

.pixy
{

    /*text-shadow: 0 0 5px rgba(0,0,0,0.5);*/

    font-size:40px;
    color:#D6D6FF;
    font-family: cursive;
    position: relative;
    top:-30px;
    left:-70px;
    text-align:center;
}

.signupAdvice
{
    position:relative;
    top:180px;
    left:475px;
    color: #010101;
    width:250px;
    background-color: #ffe928;
    visibility:hidden;
}
.signupAdvice1
{
    position:relative;
    top:222px;
    left:475px;
    color: #010101;
    width:250px;
    background-color: #ffe928;
    visibility:hidden;
}

.signupAdvice2
{
    position:relative;
    top:264px;
    left:475px;
    color: #010101;
    width:250px;
    background-color: #ffe928;
    visibility:hidden;
}

.signupAdvice3
{
    position:relative;
    top:306px;
    left:475px;
    height:50px;
    color: #010101;
    width:250px;
    background-color: #ffe928;
    visibility:hidden;
}

.signupAdvice4
{
    position:relative;
    top:348px;
    left:475px;
    width:250px;
    color: #010101;
    background-color: #ffe928;
    visibility:hidden;
}

#image
{

    display:inline;
}

div.img
{
    display:inline;
    margin: 5px;
    padding: 5px;
    border: 0px solid #0000ff;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

div.img img
{
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}

#main-section
{
    position: relative;
    top:100px;
    width:73%;
   

}

/*div.img:nth-child(4n+4)
{
    display:block;
    margin: 5px;
    padding: 5px;
    border: 0px solid #0000ff;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

*/

div.img a:hover img {border: 1px solid #ff8b2b;}
div.desc
{
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}

.image-box
{
    float:left;
    width:250px;
    height:250px;
    margin:5px;
    border:3px solid blue;
}

.charleft
{
    position:relative;
    left:-63px;
}


.advice-image
{
    visibility:hidden;
    width:300px;

}

.image-upload
{

    border:1px solid;
    border-radius:5px;
    position:relative;
    top:50px;
    left:360px;
    background-color:#18150F;
    width:450px;
    line-height:2.7;
    font-family:Arial;
    height:520px;
    margin:2px;
    padding-top:25px;
    padding-bottom:25px;
    padding-right:50px;
    padding-left:50px;


}

.upload
{

    position:relative;
    top:-60px;
    left:358px;
    width:60px;
    height:30px;
    border:1px;
    font-weight:bold;
    color:white;
    background-color:orange;
    cursor:pointer;
}

.private-public
{
    position:relative;
    left:-10px;
}

img.gallery
{
    width:250px;
    height:200px;
    border:0;
}


span.big
{
    font-size:1.1em;
    color:#D6D6FF;
    font-family:cursive;
}

textarea.styled
{
    width:400px;
    height:100px;
    border:3px solid #cccccc;
    padding:5px;
    font-family:Tahoma, sans-serif;
    background-position:bottom right;
    background-repeat: no-repeat;
}
textarea.styled2
{
    width:400px;
    height:50px;
    border:3px solid #cccccc;
    padding:5px;
    font-family:Tahoma, sans-serif;
    background-position:bottom right;
    background-repeat: no-repeat;
}

fieldset.editprofilepage
{
    border:1px solid;
    border-radius:5px;
    position:relative;

    background-color:#3E3E50;
	width:50%;
    line-height:2.7;
    font-family:Arial;
    
    margin:2px;
    padding-top:25px;
    padding-bottom:25px;
    padding-right:50px;
    padding-left:50px;
}

fieldset.editprofilepage > input.email
{
	width:50%;
	min-width:300px;
}

fieldset.editprofilepage > textarea.bio
{
	width:50%;
	min-width:300px;
	border: 2px darkorange;
    border-style:solid;
    border-radius:4px;
}

fieldset.editprofilepage > input.submit
{
	border:1px solid;
	height:30px;
    border-radius:5px;
    color:black;
    background-color:#FF704D;
    cursor:pointer;
}


/*.nested-content {
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
    padding: 0 4px;
}
*/