<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pixy - {% block title%}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	{% block head %}{% endblock %}
</head>
<body >
	<div class="header-hp">
		<span class="logo">Pixy</span>
			<ul class="menu">
			{% if 'user' not in session.keys() %}
				<li class="menu-item"><a href="{{ url_for('login') }}">Log in</a></li>
				<li class="menu-item"><a href="{{ url_for('register') }}">Register</a></li>
			{% else %}
				<li class="menu-item"><a href="{{ url_for('profile') }}">Profile</a></li>
				<li class="menu-item"><a href="{{ url_for('logout') }}">Log out</a></li>
			{% endif %}
				<li class="menu-item"><a href="/editor/">Pixy Editor</a></li>
				<li class="menu-item"><a href="/editor/">Gallery</a></li>
				<li class="menu-item"><a href="/contact">Contact</a></li>
			</ul>
	  </div>
	  {% block body %}{% endblock %}
</body>
</html>
