<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pixy - {% block title%}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	{% block head %}{% endblock %}
</head>
<body >
	<div class="header-hp">
		<span class="logo">Pixy</span>
			<ul class="menu">
			{% if 'user' not in session.keys() %}
				<li class="menu-item"><a href="{{ url_for('login') }}">Login</a></li>
				<li class="menu-item"><a href="{{ url_for('register') }}">Register</a></li>
			{% else %}
				<li class="menu-item"><a href="{{ url_for('ownprofile') }}">Profile</a></li>
				<li class="menu-item"><a href="{{ url_for('upload') }}">Upload</a></li>
				<li class="menu-item"><a href="{{ url_for('logout') }}">Logout</a></li>
			{% endif %}
			</ul>
	</div>
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for cat, message in messages %}
			<div class="alert alert-{{ cat }} center-block" style="width: 50%">
				<button class="close" aria-hidden="true" data-dismiss="alert" type="button">&times;</button>
				<p>{{ message }}</p>
			</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	{% block body %}{% endblock %}
</body>
</html>
