<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pixy - {% block title%}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	{% block head %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="{{ url_for('index') }}">Pixy</a>
		</div>
		{% if 'user' in session.keys() %}
		<p class="navbar-text">
		You are logged in as {{ session['user']['name'] }}
		{% if session['user']['admin'] %}
			<span class="text-danger">(ADMIN)</span>
		{% endif %}
		</p>
		{% endif %}
		<ul class="nav navbar-nav navbar-right">
			<li><a href="{{ url_for('index') }}">Home</a></li>
			{% if 'user' not in session.keys() %}
				<li><a href="{{ url_for('login') }}">Login</a></li>
				<li><a href="{{ url_for('register') }}">Register</a></li>
			{% else %}
				<li><a href="{{ url_for('ownProfile') }}">Profile</a></li>
				<li><a href="{{ url_for('upload') }}">Upload</a></li>
				<li><a href="{{ url_for('logout') }}">Logout</a></li>
			{% endif %}
		</ul>
	</div>
</nav>
<div class="container">
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for cat, message in messages %}
			<div class="alert alert-{{ cat }} alert-dimissable center-block">
				<button class="close" aria-hidden="true" data-dismiss="alert" type="button">&times;</button>
				<p>{{ message }}</p>
			</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	{% block body %}{% endblock %}
</div>
</body>
</html>
