<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Edit User</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
	    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
    rel="stylesheet">
    <script language="JavaScript" type="text/javascript" src="/static/js/edit.js"></script>
    <script language="JavaScript" type ="text/javascript" src ="/static/js/validation.js"></script>
</head>
<body class="main">
<div>
	<div class = "header-hp">
        <span class ="logo">Pixy</span>
            <ul class="menu">
                <li class = "menu-item"><a href= "Signup.html">Sign up</a></li>
                <li class = "menu-item"><a href="/editor/">Pixy Editor</a></li>
                <li class = "menu-item"><a href="/editor/">Gallery</a></li>
                <li class = "menu-item"><a href="/contact">Contact</a></li>
            </ul>
    </div>

	<div class="container">
		<form id ="editInfo" method="post">
			<fieldset class ="editprofilepage">
				<textarea readonly id ="advicesignup" class = "signupAdvice" style ="display:none"></textarea>
				<input  type="text" class="email" name = "email"  id = "signupemail" placeholder = "Your Email"><br/></br>
				<textarea class="bio" cols = "40" rows = "5" name="profile" placeholder="your bio"></textarea>
				<input type = "hidden" name = "submitted" value = "1">
				<br/>
				<input class="submit"  type="submit" value="Submit Changes">
			</fieldset>
		</form>
		<form >
			<fieldset class ="editprofilepage"><a href="profile.html" class="btn btn-default">Cancel Changes<br></a></fieldset>
		</form>
	</div>
</div>
</body>
</html>
