{% extends 'base.html' %}
{% block title %}Gallery - Page {{ images.page }}{% endblock %}
{% block head %}
{% endblock %}
{% block body %}

{% if user %}
	<h1><a href="{{ url_for('profile', id=user.id) }}">{{ user.username }}</a>'s Gallery ({{ sort }})</h1>
{% else %}
	<h1>Global Gallery ({{ sort }})</h1>
{% endif %}

<div class="pull-right" style="position:relative; top:-3em;">
{% if user %}
<form role="form" method="GET" action="{{ url_for('userGallery', id=user.id) }}" class="form-inline" role="form">
<input type="hidden" name="sort" value="{{ sort }}">
{% else %}
<form role="form" method="GET" action="{{ url_for('gallery') }}" class="form-inline" role="form">
{% endif %}
<div class="form-group">
	<input type="text" name="tag" class="form-control" placeholder="tag" value="{% if tag %}{{ tag }}{% endif %}">
	<input type="submit" value="Search" class="btn btn-default">
</div>
</form>
</div>

<div class="clearfix"></div>

<div class="row">
{% if images.items %}
	{% for image in images.items %}
		{% include 'imageBox.html' %}
	{% endfor %}
{% else %}
	No images match your query.
{% endif %}
</div>


{% if images.pages > 0 %}
	<div class="text-center">
		<ul class="pagination">
			{% if images.has_prev %}
				{% if user %}
					<li><a href="{{ url_for('userGallery', id=user.id, sort=sort, page=images.prev_num, tag=tag) }}">&laquo;</a></li>
				{% else %}
					<li><a href="{{ url_for('gallery', sort=sort,  page=images.prev_num, tag=tag) }}">&laquo;</a></li>
				{% endif %}
			{% endif %}

			{% for page in images.iter_pages() %}
				{% if page %}
				{% if user %}
					<li><a href="{{ url_for('userGallery', id=user.id, sort=sort, page=page, tag=tag) }}">{{ page }}</a></li>
				{% else %}
					<li><a href="{{ url_for('gallery',sort=sort, page=page, tag=tag) }}">{{ page }}</a></li>
				{% endif %}
				{% endif %}
			{% endfor %}

			{% if images.has_next %}
				{% if user %}
					<li><a href="{{ url_for('userGallery', id=user.id, sort=sort, page=images.next_num, tag=tag) }}">&laquo;</a></li>
				{% else %}
					<li><a href="{{ url_for('gallery', sort=sort, page=images.next_num, tag=tag) }}">&laquo;</a></li>
				{% endif %}
			{% endif %}
		</ul>
</div>
{% endif %}


{% endblock %}