{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}
{% block body %}
	<h1 class="welcome"> Welcome to Pixy <br>Your Online photo sharing/editing website </h1>

	 <section id ="main-section">

		 <div class="img">

			 <a target="_blank" href="http://tinypic.com?ref=144adja">
				 <img class="gallery" src="http://i61.tinypic.com/144adja.jpg">
			 </a>

		 </div>
		 <div class="img">
			 <a target="_blank" href="http://tinypic.com?ref=144adja">
				 <img class="gallery" src=" wallpaper2.jpg" >
			 </a>

		 </div>
		 <div class="img">
			 <a target="_blank" href="http://tinypic.com?ref=144adja">
				 <img class="gallery" src="wallpaper1.jpg">
			 </a>

		 </div>
		 <div class="img">
			 <a target="_blank" href="http://tinypic.com?ref=144adja">
				 <img class="gallery" src="wallpaper3.jpg">
			 </a>

		 </div>

		 <div class="img">
			 <a target="_blank" href="http://tinypic.com?ref=144adja">
				 <img class="gallery" src="wallpaper4.jpg">
			 </a>

		 </div>

		 <div class="img">
			 <a target="_blank" href="http://tinypic.com?ref=144adja">
				 <img class="gallery" src="wallpaper5.jpg" >
			 </a>

		 </div>

		 <div class="img">
			 <a target="_blank" href="http://tinypic.com?ref=144adja">
				 <img class="gallery" src="wallpaper6.jpg" >
			 </a>

		 </div>

		 <div class="img">
			 <a target="_blank" href="http://tinypic.com?ref=144adja">
				 <img class="gallery" src ="wallpaper7.jpg">
			 </a>

		 </div>
	</section>
{% endblock %}
