{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}
{% block body %}
<div class="jumbotron">
	<h1>Welcome to Pixy</h1>
	<h2>Your online photo sharing &amp; editing website</h2>
	{% if 'user' not in session.keys() %}
		Registration is free!
		<a class="btn btn-primary btn-lg" href="{{ url_for('register') }}">Register now!</a>
	{% endif %}
</div>
<div class="well">
	<h3>Most Popular Images</h3>
	<div class="row">
		{% if popularCount > 0 %}
			{% for image in popular %}
				{% include 'imageBox.html' %}
			{% endfor %}

			{% if popularCount > 5 %}
				TODO: SHOW A LINK TO VIEW MORE
			{% endif %}
	
		{% else %}
			<div class="col-xs-6">No popular images.</div>
		{% endif %}
	</div>
</div>
<div class="well">
	<h3>Most Recent Images</h3>
	<div class="row">
		{% if recentCount > 0 %}
			{% for image in recent %}
				{% include 'imageBox.html' %}
			{% endfor %}

			{% if recentCount > 5 %}
				TODO: SHOW A LINK TO VIEW MORE
			{% endif %}
	
		{% else %}
			<div class="col-xs-6">No recent images.</div>
		{% endif %}
	</div>
</div>
{% endblock %}
