{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block head %}
{% endblock %}
{% block body %}

<div class="container">
	<h2>{{ user.username }}</h2>
	<img src="{{ user.get_gravatar_url() }}">
	{% if ownProfile %}
	<a href=" {{ url_for('editProfile') }}" class="btn btn-default pull-right">Edit Profile<br></a>
	{% endif %}

	<div class="well">
		<h3>Bio</h3>
		<p>
			{% if user.bio %}
				{{ user.bio }}
			{% else %}
				This user hasn't written their bio yet.
			{% endif %}
		</p>
	</div>

	<div class="well">
		<h3>Most Popular Images</h3>
		<div class="row">
			{% if popularCount > 0 %}
				{% for image in popular %}
					{% include 'imageBox.html' %}
				{% endfor %}

				{% if popularCount > 5 %}
				<div class="col-sm-2 vcenter">
					<a href="{{ url_for('userGallery', sort='popular', id=user.id) }}" class="btn btn-lg btn-default">View More &raquo;</a>
				</div>
				{% endif %}
		
			{% else %}
				<div class="col-xs-6">No popular images.</div>
			{% endif %}
		</div>
	</div>
	<div class="well">
		<h3>Most Recent Images</h3>
		<div class="row">
			{% if recentCount > 0 %}
				{% for image in recent %}
					{% include 'imageBox.html' %}
				{% endfor %}

				{% if recentCount > 5 %}
				<div class="col-sm-2 vcenter">
					<a href="{{ url_for('userGallery', sort='recent', id=user.id) }}" class="btn btn-lg btn-default">View More &raquo;</a>
				</div>
				{% endif %}
		
			{% else %}
				<div class="col-xs-6">No recent images.</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
