<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Welcome to Pixy</title>
    <script src="java.js"> </script>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script language="JavaScript" type ="text/javascript" src ="homepage.js"></script>
</head>
<body style = "background-color:rgba(255, 162, 107, 0.36);">
<div id = "wrapper">
    <div class = "header-hp">
        <h1 class ="pixy-style">Pixy</h1>
     </div>
s



    <section id ="main section">

    </section>
    <aside id ="side">
        <form id ="login">
           <fieldset class = "loginpage">
               <span style = "position: relative;top:10px;left:90px;font-size:20px;display: inline;color:#D6D6FF;font-family: cursive;">Login</span>
               <input  type="text" name = "email" id = "email" placeholder ="Email" class = "email"><br/>
               <input  type="password" name = "pass"  id="pass" placeholder = "Password" class = "password"><br/>
               <input  class = "loginbutton" name = "login" type="submit" value="Log in">
               <p style = "position:relative;top:-50px;font-size:14px;color:#D6D6FF;font-family: cursive;">Don't have an account ? You can Sign up here</p>
               <input  class = "signupbutton" name = "signup" type="submit" value="Sign up">
           </fieldset>
          This is the login form
        </form>
     </aside>

</div>
</body>
</html>
